Endless Space Competitive Mod/Schemas/Amplitude.Unity.Achievement.AchievementStatisticDefinition.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Datatable" />
  <xs:element name="AchievementStatisticDefinition" nillable="true" type="AchievementStatisticDefinition" />
  <xs:complexType name="AchievementStatisticDefinition">
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute name="StatisticType" type="StatisticType" use="required" />
  </xs:complexType>
  <xs:simpleType name="StatisticType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Int" />
      <xs:enumeration value="Float" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>