Endless Space Competitive Mod/Schemas/Amplitude.Unity.Runtime.RuntimeModule.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Datatable" />
  <xs:element name="RuntimeModule" nillable="true" type="RuntimeModule" />
  <xs:complexType name="RuntimeModule">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Title" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Description" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Author" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Homepage" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PreviewImageFile" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ReleaseNotes" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Tags" type="Tags" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Thumbnail" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Plugins" type="ArrayOfChoice1" />
    </xs:sequence>
    <xs:attribute name="Type" type="RuntimeModuleType" use="required" />
    <xs:attribute default="1.0" name="Version" type="xs:string" />
    <xs:attribute name="Name" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Tags">
    <xs:simpleContent>
      <xs:extension base="xs:string" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfChoice1">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="0" maxOccurs="1" name="RegistryPlugin" type="RegistryPlugin" />
      <xs:element minOccurs="0" maxOccurs="1" name="LocalizationPlugin" type="LocalizationPlugin" />
      <xs:element minOccurs="0" maxOccurs="1" name="DatabasePlugin" type="DatabasePlugin" />
      <xs:element minOccurs="0" maxOccurs="1" name="AIPlugin" type="AIPlugin" />
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="RegistryPlugin">
    <xs:complexContent mixed="false">
      <xs:extension base="RuntimePlugin">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="FilePath" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RuntimePlugin">
    <xs:attribute default="0" name="Priority" type="xs:int" />
  </xs:complexType>
  <xs:complexType name="LocalizationPlugin">
    <xs:complexContent mixed="false">
      <xs:extension base="RuntimePlugin">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Directory" type="xs:string" />
        </xs:sequence>
        <xs:attribute default="english" name="DefaultLanguage" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DatabasePlugin">
    <xs:complexContent mixed="false">
      <xs:extension base="RuntimePlugin">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="ExtraTypes" type="ArrayOfXmlExtraType" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="FilePath" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Overrides" type="ArrayOfXmlAttributeOverride" />
        </xs:sequence>
        <xs:attribute name="DataType" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfXmlExtraType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExtraType" type="XmlExtraType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="XmlExtraType">
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute name="DataType" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="ArrayOfXmlAttributeOverride">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Override" type="XmlAttributeOverride" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="XmlAttributeOverride">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExtraType" type="XmlExtraType" />
    </xs:sequence>
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute name="DataType" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="AIPlugin">
    <xs:complexContent mixed="false">
      <xs:extension base="RuntimePlugin">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="AssemblyPath" type="xs:string" />
        </xs:sequence>
        <xs:attribute default="Release" name="Configuration" type="Configuration" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="Configuration">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Release" />
      <xs:enumeration value="Debug" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RuntimeModuleType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Standalone" />
      <xs:enumeration value="Conversion" />
      <xs:enumeration value="Extension" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>