Endless Space Competitive Mod/Schemas/Amplitude.Unity.Achievement.AchievementDefinition.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Datatable" />
  <xs:element name="AchievementDefinition" nillable="true" type="AchievementDefinition" />
  <xs:complexType name="AchievementDefinition">
    <xs:attribute name="Name" type="xs:string" />
  </xs:complexType>
</xs:schema>