Endless Space Competitive Mod/Schemas/Amplitude.Unity.Gui.GuiTooltipDescription.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Datatable" />
  <xs:element name="GuiTooltipDescription" nillable="true" type="GuiTooltipDescription" />
  <xs:complexType name="GuiTooltipDescription">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="FreeOffset" type="Offset" />
      <xs:element minOccurs="0" maxOccurs="1" name="AnchorOffset" type="Offset" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PanelFeatureDescription" type="GuiPanelFeatureDescription" />
    </xs:sequence>
    <xs:attribute default="0" name="Priority" type="xs:float" />
    <xs:attribute name="TooltipPrefab" type="xs:string" />
    <xs:attribute default="" name="TooltipWindow" type="xs:string" />
    <xs:attribute default="false" name="ShowAnchors" type="xs:boolean" />
    <xs:attribute name="TooltipClass" type="xs:string" />
    <xs:attribute default="4" name="TrailingMargin" type="xs:float" />
  </xs:complexType>
  <xs:complexType name="Offset">
    <xs:attribute name="X" type="xs:float" use="required" />
    <xs:attribute name="Y" type="xs:float" use="required" />
  </xs:complexType>
  <xs:complexType name="GuiPanelFeatureDescription">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="PropertyFilters" type="ArrayOfPropertyFilter" />
    </xs:sequence>
    <xs:attribute name="Prefab" type="xs:string" />
    <xs:attribute default="false" name="HideInCompactMode" type="xs:boolean" />
    <xs:attribute default="false" name="DoNotHandleCompactMode" type="xs:boolean" />
    <xs:attribute default="true" name="ShowImage" type="xs:boolean" />
  </xs:complexType>
  <xs:complexType name="ArrayOfPropertyFilter">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PropertyFilter" type="PropertyFilter" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PropertyFilter">
    <xs:attribute name="PropertyName" type="xs:string" />
  </xs:complexType>
</xs:schema>