Endless Space Competitive Mod/Schemas/ContextualDiplomaticTermDefinition.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Datatable" />
  <xs:element name="ContextualDiplomaticTermDefinition" nillable="true" type="ContextualDiplomaticTermDefinition" />
  <xs:complexType name="ContextualDiplomaticTermDefinition">
    <xs:complexContent mixed="false">
      <xs:extension base="DatatableElement">
        <xs:sequence>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element minOccurs="0" maxOccurs="1" name="DatePrerequisite" type="DatePrerequisite" />
            <xs:element minOccurs="0" maxOccurs="1" name="GameSettingPrerequisite" type="GameSettingPrerequisite" />
            <xs:element minOccurs="0" maxOccurs="1" name="TechnologyPrerequisite" type="TechnologyPrerequisite" />
            <xs:element minOccurs="0" maxOccurs="1" name="InterpreterPrerequisite" type="InterpreterPrerequisite" />
            <xs:element minOccurs="0" maxOccurs="1" name="PathPrerequisite" type="PathPrerequisite" />
          </xs:choice>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="MetaPrerequisite" type="MetaPrerequisite" />
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element minOccurs="0" maxOccurs="1" name="DiplomaticAbilityPrerequisite" type="DiplomaticAbilityPrerequisite" />
            <xs:element minOccurs="0" maxOccurs="1" name="DiplomaticRelationStatePrerequisite" type="DiplomaticRelationStatePrerequisite" />
            <xs:element minOccurs="0" maxOccurs="1" name="DiplomaticMetaPrerequisite" type="SimpleDiplomaticMetaPrerequisite" />
          </xs:choice>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element minOccurs="0" maxOccurs="1" name="Condition_HackingOperationTraced" type="ContextualDiplomaticTermConditionTimer_HackingOperationTraced" />
            <xs:element minOccurs="0" maxOccurs="1" name="Condition_NeighboursExploited" type="ContextualDiplomaticTermConditionTimer_NeighboursExploited" />
            <xs:element minOccurs="0" maxOccurs="1" name="Condition_NeighboursColonized" type="ContextualDiplomaticTermConditionTimer_NeighboursColonized" />
            <xs:element minOccurs="0" maxOccurs="1" name="Condition_FleetsDestroyed" type="ContextualDiplomaticTermConditionTimer_FleetsDestroyed" />
            <xs:element minOccurs="0" maxOccurs="1" name="Condition_TimeBubblesOnSystems" type="ContextualDiplomaticTermCondition_TimeBubblesOnSystems" />
            <xs:element minOccurs="0" maxOccurs="1" name="Condition_SystemsUnderConversion" type="ContextualDiplomaticTermCondition_SystemsUnderConversion" />
            <xs:element minOccurs="0" maxOccurs="1" name="Condition_SystemsRooted" type="ContextualDiplomaticTermCondition_SystemsRooted" />
            <xs:element minOccurs="0" maxOccurs="1" name="Condition_SystemsLeeched" type="ContextualDiplomaticTermCondition_SystemsLeeched" />
            <xs:element minOccurs="0" maxOccurs="1" name="Condition_Pressure" type="ContextualDiplomaticTermCondition_Pressure" />
            <xs:element minOccurs="0" maxOccurs="1" name="Condition_FleetsInInfluence" type="ContextualDiplomaticTermCondition_FleetsInInfluence" />
          </xs:choice>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Choice" type="ContextualDiplomaticTermChoice" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="DiplomaticAbilityWhenActive" type="DiplomaticAbilityWhenActive" />
        </xs:sequence>
        <xs:attribute name="IsSubterm" type="xs:boolean" use="required" />
        <xs:attribute name="AutoSelectedProviderDynamicEffect" type="xs:string" />
        <xs:attribute name="DefaultChoiceName" type="xs:string" />
        <xs:attribute default="0" name="Cooldown" type="xs:int" />
        <xs:attribute default="Both" name="CancelOnWarDeclaration" type="WarDeclarationType" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DatePrerequisite">
    <xs:simpleContent>
      <xs:extension base="Prerequisite" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="Prerequisite">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute default="false" name="Inverted" type="xs:boolean" />
        <xs:attribute name="Flags" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="GameSettingPrerequisite">
    <xs:simpleContent>
      <xs:extension base="Prerequisite" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="PathValidityPrerequisite">
    <xs:simpleContent>
      <xs:extension base="Prerequisite" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="TechnologyPrerequisite">
    <xs:simpleContent>
      <xs:extension base="PathValidityPrerequisite">
        <xs:attribute default="false" name="UnlockHidden" type="xs:boolean" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="InterpreterPrerequisite">
    <xs:simpleContent>
      <xs:extension base="Prerequisite" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="PathPrerequisite">
    <xs:simpleContent>
      <xs:extension base="Prerequisite" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="SupportPrerequisite">
    <xs:simpleContent>
      <xs:extension base="Prerequisite">
        <xs:attribute name="Politics" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="MetaPrerequisite">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element minOccurs="0" maxOccurs="1" name="DatePrerequisite" type="DatePrerequisite" />
        <xs:element minOccurs="0" maxOccurs="1" name="GameSettingPrerequisite" type="GameSettingPrerequisite" />
        <xs:element minOccurs="0" maxOccurs="1" name="SupportPrerequisite" type="SupportPrerequisite" />
        <xs:element minOccurs="0" maxOccurs="1" name="TechnologyPrerequisite" type="TechnologyPrerequisite" />
        <xs:element minOccurs="0" maxOccurs="1" name="InterpreterPrerequisite" type="InterpreterPrerequisite" />
        <xs:element minOccurs="0" maxOccurs="1" name="PathPrerequisite" type="PathPrerequisite" />
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="Operator" type="PrerequisiteOperator" use="required" />
  </xs:complexType>
  <xs:simpleType name="PrerequisiteOperator">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Or" />
      <xs:enumeration value="And" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="DiplomaticAbilityPrerequisite">
    <xs:simpleContent>
      <xs:extension base="DiplomaticPrerequisite">
        <xs:attribute name="TargetRelation" type="PrerequisiteTargetRelation" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="PrerequisiteTargetRelation">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ReceiverToProvider" />
      <xs:enumeration value="ProviderToReceiver" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="DiplomaticPrerequisite">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute default="false" name="Inverted" type="xs:boolean" />
        <xs:attribute name="Flags" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="DiplomaticRelationStatePrerequisite">
    <xs:simpleContent>
      <xs:extension base="DiplomaticPrerequisite">
        <xs:attribute default="EmpireWhichProvides" name="Responsible" type="DiplomaticCostResponsible" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="DiplomaticCostResponsible">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EmpireWhichProposes" />
      <xs:enumeration value="EmpireWhichProvides" />
      <xs:enumeration value="EmpireWhichReceives" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SimpleDiplomaticMetaPrerequisite">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element minOccurs="0" maxOccurs="1" name="DiplomaticAbilityPrerequisite" type="DiplomaticAbilityPrerequisite" />
        <xs:element minOccurs="0" maxOccurs="1" name="DiplomaticRelationStatePrerequisite" type="DiplomaticRelationStatePrerequisite" />
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="Operator" type="OperatorType" use="required" />
    <xs:attribute default="false" name="Inverted" type="xs:boolean" />
    <xs:attribute name="Flags" type="xs:string" />
  </xs:complexType>
  <xs:simpleType name="OperatorType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OR" />
      <xs:enumeration value="XOR" />
      <xs:enumeration value="NOR" />
      <xs:enumeration value="AND" />
      <xs:enumeration value="NAND" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ContextualDiplomaticTermConditionTimer_HackingOperationTraced">
    <xs:complexContent mixed="false">
      <xs:extension base="ContextualDiplomaticTermConditionTimer" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ContextualDiplomaticTermConditionTimer">
    <xs:complexContent mixed="false">
      <xs:extension base="ContextualDiplomaticTermCondition">
        <xs:attribute name="MaximumDelay" type="xs:int" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ContextualDiplomaticTermCondition" />
  <xs:complexType name="ContextualDiplomaticTermConditionTimer_NeighboursExploited">
    <xs:complexContent mixed="false">
      <xs:extension base="ContextualDiplomaticTermConditionTimer" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ContextualDiplomaticTermConditionTimer_NeighboursColonized">
    <xs:complexContent mixed="false">
      <xs:extension base="ContextualDiplomaticTermConditionTimer" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ContextualDiplomaticTermConditionTimer_FleetsDestroyed">
    <xs:complexContent mixed="false">
      <xs:extension base="ContextualDiplomaticTermConditionTimer" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ContextualDiplomaticTermCondition_TimeBubblesOnSystems">
    <xs:complexContent mixed="false">
      <xs:extension base="ContextualDiplomaticTermCondition" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ContextualDiplomaticTermCondition_SystemsUnderConversion">
    <xs:complexContent mixed="false">
      <xs:extension base="ContextualDiplomaticTermCondition" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ContextualDiplomaticTermCondition_SystemsRooted">
    <xs:complexContent mixed="false">
      <xs:extension base="ContextualDiplomaticTermCondition" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ContextualDiplomaticTermCondition_SystemsLeeched">
    <xs:complexContent mixed="false">
      <xs:extension base="ContextualDiplomaticTermCondition" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ContextualDiplomaticTermCondition_Pressure">
    <xs:complexContent mixed="false">
      <xs:extension base="ContextualDiplomaticTermCondition">
        <xs:attribute name="Minimum" type="xs:int" use="required" />
        <xs:attribute default="2147483647" name="Maximum" type="xs:int" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ContextualDiplomaticTermCondition_FleetsInInfluence">
    <xs:complexContent mixed="false">
      <xs:extension base="ContextualDiplomaticTermCondition">
        <xs:sequence>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element minOccurs="0" maxOccurs="1" name="TechnologyPrerequisite" type="TechnologyPrerequisite" />
            <xs:element minOccurs="0" maxOccurs="1" name="InterpreterPrerequisite" type="InterpreterPrerequisite" />
            <xs:element minOccurs="0" maxOccurs="1" name="PathPrerequisite" type="PathPrerequisite" />
          </xs:choice>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="MetaPrerequisite" type="MetaPrerequisite" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ContextualDiplomaticTermChoice">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element minOccurs="0" maxOccurs="1" name="DatePrerequisite" type="DatePrerequisite" />
        <xs:element minOccurs="0" maxOccurs="1" name="GameSettingPrerequisite" type="GameSettingPrerequisite" />
        <xs:element minOccurs="0" maxOccurs="1" name="TechnologyPrerequisite" type="TechnologyPrerequisite" />
        <xs:element minOccurs="0" maxOccurs="1" name="InterpreterPrerequisite" type="InterpreterPrerequisite" />
        <xs:element minOccurs="0" maxOccurs="1" name="PathPrerequisite" type="PathPrerequisite" />
      </xs:choice>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MetaPrerequisite" type="MetaPrerequisite" />
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element minOccurs="0" maxOccurs="1" name="DiplomaticAbilityPrerequisite" type="DiplomaticAbilityPrerequisite" />
        <xs:element minOccurs="0" maxOccurs="1" name="DiplomaticRelationStatePrerequisite" type="DiplomaticRelationStatePrerequisite" />
        <xs:element minOccurs="0" maxOccurs="1" name="DiplomaticMetaPrerequisite" type="SimpleDiplomaticMetaPrerequisite" />
      </xs:choice>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element minOccurs="0" maxOccurs="1" name="DynamicEffect" type="ContextualDiplomaticTermDynamicEffect" />
        <xs:element minOccurs="0" maxOccurs="1" name="Effect_TransferDiplomaticResource" type="ContextualDiplomaticTermEffect_TransferDiplomaticResource" />
        <xs:element minOccurs="0" maxOccurs="1" name="Effect_RestrictInteraction" type="ContextualDiplomaticTermEffect_RestrictInteraction" />
        <xs:element minOccurs="0" maxOccurs="1" name="Effect_RestrictAttack" type="ContextualDiplomaticTermEffect_RestrictAttack" />
        <xs:element minOccurs="0" maxOccurs="1" name="Effect_ResetPressure" type="ContextualDiplomaticTermEffect_ResetPressure" />
        <xs:element minOccurs="0" maxOccurs="1" name="Effect_ResetInfluenceConversion" type="ContextualDiplomaticTermEffect_ResetInfluenceConversion" />
        <xs:element minOccurs="0" maxOccurs="1" name="Effect_ResetEmpireHistory" type="ContextualDiplomaticTermEffect_ResetEmpireHistory" />
        <xs:element minOccurs="0" maxOccurs="1" name="Effect_RemoveTimeBubbles" type="ContextualDiplomaticTermEffect_RemoveTimeBubbles" />
        <xs:element minOccurs="0" maxOccurs="1" name="Effect_RemoveSpaceRoots" type="ContextualDiplomaticTermEffect_RemoveSpaceRoots" />
        <xs:element minOccurs="0" maxOccurs="1" name="Effect_RemoveNeighbours" type="ContextualDiplomaticTermEffect_RemoveNeighbours" />
        <xs:element minOccurs="0" maxOccurs="1" name="Effect_RemoveFleetsFromInfluence" type="ContextualDiplomaticTermEffect_RemoveFleetsFromInfluence" />
        <xs:element minOccurs="0" maxOccurs="1" name="Effect_DisplaySubEffects" type="ContextualDiplomaticTermEffect_DisplaySubEffects" />
        <xs:element minOccurs="0" maxOccurs="1" name="Effect_CancelLeechActions" type="ContextualDiplomaticTermEffect_CancelLeechActions" />
        <xs:element minOccurs="0" maxOccurs="1" name="Effect_ApplyTemporaryEffect" type="ContextualDiplomaticTermEffect_ApplyTemporaryEffect" />
        <xs:element minOccurs="0" maxOccurs="1" name="Effect_ApplyDiplomaticEffect" type="ContextualDiplomaticTermEffect_ApplyDiplomaticPressureEffect" />
      </xs:choice>
      <xs:element minOccurs="0" maxOccurs="1" name="ResultingTermReference" type="XmlNamedReference" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PopulationEvent" type="XmlNamedReference" />
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element minOccurs="0" maxOccurs="1" name="CustomCost" type="CustomConstructionCost" />
        <xs:element minOccurs="0" maxOccurs="1" name="Cost" type="ConstructionCost" />
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="IsPositive" type="xs:boolean" use="required" />
    <xs:attribute name="Name" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="ContextualDiplomaticTermDynamicEffect">
    <xs:complexContent mixed="false">
      <xs:extension base="ContextualDiplomaticTermEffect">
        <xs:sequence>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element minOccurs="0" maxOccurs="1" name="Effect_TemporaryEffect" type="ContextualDiplomaticTermEffect_ApplyTemporaryEffect" />
            <xs:element minOccurs="0" maxOccurs="1" name="Effect_PopulationMigration" type="ContextualDiplomaticTermDynamicEffect_PopulationMigration" />
            <xs:element minOccurs="0" maxOccurs="1" name="Effect_MinorFactionTransfer" type="ContextualDiplomaticTermDynamicEffect_MinorFactionTransfer" />
            <xs:element minOccurs="0" maxOccurs="1" name="Effect_HeroLock" type="ContextualDiplomaticTermDynamicEffect_HeroLock" />
            <xs:element minOccurs="0" maxOccurs="1" name="Effect_DiplomaticTribute" type="ContextualDiplomaticTermDynamicEffect_DiplomaticTribute" />
            <xs:element minOccurs="0" maxOccurs="1" name="Effect_DiplomaticTerm" type="ContextualDiplomaticTermDynamicEffect_DiplomaticTerm" />
            <xs:element minOccurs="0" maxOccurs="1" name="Effect_DiplomaticEffect" type="ContextualDiplomaticTermEffect_ApplyDiplomaticPressureEffect" />
          </xs:choice>
        </xs:sequence>
        <xs:attribute name="Name" type="xs:string" />
        <xs:attribute name="ApplicationMethod" type="ApplicationMethod" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ContextualDiplomaticTermEffect_ApplyTemporaryEffect">
    <xs:complexContent mixed="false">
      <xs:extension base="ContextualDiplomaticTermSubDynamicEffect">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="TemporaryEffectReference" type="XmlNamedReference" />
        </xs:sequence>
        <xs:attribute name="Target" type="TemporaryEffectTargetType" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="XmlNamedReference">
    <xs:attribute name="Name" type="xs:string" />
  </xs:complexType>
  <xs:simpleType name="TemporaryEffectTargetType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CurrentEmpire" />
      <xs:enumeration value="OtherEmpire" />
      <xs:enumeration value="Context" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ContextualDiplomaticTermSubDynamicEffect">
    <xs:complexContent mixed="false">
      <xs:extension base="ContextualDiplomaticTermEffect">
        <xs:attribute name="Name" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ContextualDiplomaticTermEffect">
    <xs:attribute default="false" name="Hidden" type="xs:boolean" />
    <xs:attribute default="CategoryTreaty" name="GuiCategory" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="ContextualDiplomaticTermDynamicEffect_PopulationMigration">
    <xs:complexContent mixed="false">
      <xs:extension base="ContextualDiplomaticTermSubDynamicEffect">
        <xs:attribute name="PopulationCount" type="xs:int" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ContextualDiplomaticTermDynamicEffect_MinorFactionTransfer">
    <xs:complexContent mixed="false">
      <xs:extension base="ContextualDiplomaticTermSubDynamicEffect" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ContextualDiplomaticTermDynamicEffect_HeroLock">
    <xs:complexContent mixed="false">
      <xs:extension base="ContextualDiplomaticTermSubDynamicEffect">
        <xs:attribute name="Duration" type="xs:int" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ContextualDiplomaticTermDynamicEffect_DiplomaticTribute">
    <xs:complexContent mixed="false">
      <xs:extension base="ContextualDiplomaticTermSubDynamicEffect">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Tribute" type="TributeDefinition" />
        </xs:sequence>
        <xs:attribute name="Duration" type="xs:int" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TributeDefinition">
    <xs:attribute name="ResourceName" type="xs:string" />
    <xs:attribute name="Percentage" type="xs:int" use="required" />
  </xs:complexType>
  <xs:complexType name="ContextualDiplomaticTermDynamicEffect_DiplomaticTerm">
    <xs:complexContent mixed="false">
      <xs:extension base="ContextualDiplomaticTermSubDynamicEffect">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="DiplomaticTermReference" type="XmlNamedReference" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ContextualDiplomaticTermEffect_ApplyDiplomaticPressureEffect">
    <xs:complexContent mixed="false">
      <xs:extension base="ContextualDiplomaticTermSubDynamicEffect">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="DiplomaticPressureEffectReference" type="XmlNamedReference" />
        </xs:sequence>
        <xs:attribute name="Target" type="DiplomaticEffectTargetType" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="DiplomaticEffectTargetType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CurrentEmpire" />
      <xs:enumeration value="CurrentEmpireOnOtherEmpires" />
      <xs:enumeration value="OtherEmpireOnOtherEmpires" />
      <xs:enumeration value="CurrentEmpireOnOtherEmpiresAndOtherEmpire" />
      <xs:enumeration value="OtherEmpireOnOtherEmpiresAndChooserEmpire" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ContextualDiplomaticTermEffect_TransferDiplomaticResource">
    <xs:complexContent mixed="false">
      <xs:extension base="ContextualDiplomaticTermEffect">
        <xs:attribute name="Target" type="TargetType" use="required" />
        <xs:attribute name="ResourceName" type="xs:string" />
        <xs:attribute name="Amount" type="xs:float" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="TargetType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EmpireWithChoice" />
      <xs:enumeration value="OtherEmpire" />
      <xs:enumeration value="Both" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ContextualDiplomaticTermEffect_RestrictInteraction">
    <xs:complexContent mixed="false">
      <xs:extension base="ContextualDiplomaticTermEffect">
        <xs:attribute name="Duration" type="xs:int" use="required" />
        <xs:attribute name="PropertyName" type="xs:string" />
        <xs:attribute name="Description" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ContextualDiplomaticTermEffect_RestrictAttack">
    <xs:complexContent mixed="false">
      <xs:extension base="ContextualDiplomaticTermEffect_RestrictInteraction" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ContextualDiplomaticTermEffect_ResetPressure">
    <xs:complexContent mixed="false">
      <xs:extension base="ContextualDiplomaticTermEffect" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ContextualDiplomaticTermEffect_ResetInfluenceConversion">
    <xs:complexContent mixed="false">
      <xs:extension base="ContextualDiplomaticTermEffect" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ContextualDiplomaticTermEffect_ResetEmpireHistory">
    <xs:complexContent mixed="false">
      <xs:extension base="ContextualDiplomaticTermEffect">
        <xs:attribute default="false" name="ResetAttack" type="xs:boolean" />
        <xs:attribute default="false" name="ResetColonization" type="xs:boolean" />
        <xs:attribute default="false" name="ResetHacking" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ContextualDiplomaticTermEffect_RemoveTimeBubbles">
    <xs:complexContent mixed="false">
      <xs:extension base="ContextualDiplomaticTermEffect" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ContextualDiplomaticTermEffect_RemoveSpaceRoots">
    <xs:complexContent mixed="false">
      <xs:extension base="ContextualDiplomaticTermEffect" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ContextualDiplomaticTermEffect_RemoveNeighbours">
    <xs:complexContent mixed="false">
      <xs:extension base="ContextualDiplomaticTermEffect" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ContextualDiplomaticTermEffect_RemoveFleetsFromInfluence">
    <xs:complexContent mixed="false">
      <xs:extension base="ContextualDiplomaticTermEffect">
        <xs:sequence>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element minOccurs="0" maxOccurs="1" name="TechnologyPrerequisite" type="TechnologyPrerequisite" />
            <xs:element minOccurs="0" maxOccurs="1" name="InterpreterPrerequisite" type="InterpreterPrerequisite" />
            <xs:element minOccurs="0" maxOccurs="1" name="PathPrerequisite" type="PathPrerequisite" />
          </xs:choice>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="MetaPrerequisite" type="MetaPrerequisite" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ContextualDiplomaticTermEffect_DisplaySubEffects">
    <xs:complexContent mixed="false">
      <xs:extension base="ContextualDiplomaticTermEffect">
        <xs:attribute name="Description" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ContextualDiplomaticTermEffect_CancelLeechActions">
    <xs:complexContent mixed="false">
      <xs:extension base="ContextualDiplomaticTermEffect" />
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="ApplicationMethod">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ReceiverOnly" />
      <xs:enumeration value="ProviderOnly" />
      <xs:enumeration value="Symmetrical" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CustomConstructionCost">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute default="false" name="Instant" type="xs:boolean" />
        <xs:attribute default="false" name="InstantOnCompletion" type="xs:boolean" />
        <xs:attribute name="ResourceName" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ConstructionCost">
    <xs:simpleContent>
      <xs:extension base="xs:float">
        <xs:attribute default="false" name="Instant" type="xs:boolean" />
        <xs:attribute default="false" name="InstantOnCompletion" type="xs:boolean" />
        <xs:attribute name="ResourceName" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="DiplomaticAbilityWhenActive">
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute name="ApplyOn" type="ApplicationMode" use="required" />
  </xs:complexType>
  <xs:simpleType name="ApplicationMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Symmetrical" />
      <xs:enumeration value="FirstEmpireTowardsSecondEmpire" />
      <xs:enumeration value="SecondEmpireTowardsFirstEmpire" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="WarDeclarationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Disabled" />
      <xs:enumeration value="SenderOnly" />
      <xs:enumeration value="Both" />
      <xs:enumeration value="ReceiverOnly" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="DatatableElement">
    <xs:attribute name="Name" type="xs:string" />
  </xs:complexType>
</xs:schema>