Endless Space Competitive Mod/Schemas/EncounterFlotillaMatchDefinition.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Datatable" />
  <xs:element name="EncounterFlotillaMatchDefinition" nillable="true" type="EncounterFlotillaMatchDefinition" />
  <xs:complexType name="EncounterFlotillaMatchDefinition">
    <xs:complexContent mixed="false">
      <xs:extension base="DatatableElement">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="AttackerTrajectory" type="EncounterFlotillaTrajectoryDefinition" />
          <xs:element minOccurs="0" maxOccurs="1" name="DefenderTrajectory" type="EncounterFlotillaTrajectoryDefinition" />
          <xs:element minOccurs="0" maxOccurs="1" name="TargetingRanges" type="ArrayOfEncounterFlotillaMatchTargetingRangeDefinition" />
        </xs:sequence>
        <xs:attribute name="AttackerOptimalRangeName" type="xs:string" />
        <xs:attribute name="DefenderOptimalRangeName" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EncounterFlotillaTrajectoryDefinition">
    <xs:complexContent mixed="false">
      <xs:extension base="DatatableElement">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="BezierPath" type="BezierPathDetailedInterpolation" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BezierPathDetailedInterpolation">
    <xs:complexContent mixed="false">
      <xs:extension base="BezierPathDetailed">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Handles" type="SerializableVector3" />
        </xs:sequence>
        <xs:attribute name="RefinedControlPointsTangentScale" type="xs:float" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SerializableVector3">
    <xs:complexContent mixed="false">
      <xs:extension base="ValueType">
        <xs:attribute name="X" type="xs:float" use="required" />
        <xs:attribute name="Y" type="xs:float" use="required" />
        <xs:attribute name="Z" type="xs:float" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ValueType" />
  <xs:complexType name="Vector3">
    <xs:complexContent mixed="false">
      <xs:extension base="ValueType">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="x" type="xs:float" />
          <xs:element minOccurs="1" maxOccurs="1" name="y" type="xs:float" />
          <xs:element minOccurs="1" maxOccurs="1" name="z" type="xs:float" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Quaternion">
    <xs:complexContent mixed="false">
      <xs:extension base="ValueType">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="x" type="xs:float" />
          <xs:element minOccurs="1" maxOccurs="1" name="y" type="xs:float" />
          <xs:element minOccurs="1" maxOccurs="1" name="z" type="xs:float" />
          <xs:element minOccurs="1" maxOccurs="1" name="w" type="xs:float" />
          <xs:element minOccurs="1" maxOccurs="1" name="eulerAngles" type="Vector3" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SerializableQuaternion">
    <xs:complexContent mixed="false">
      <xs:extension base="ValueType">
        <xs:attribute name="X" type="xs:float" use="required" />
        <xs:attribute name="Y" type="xs:float" use="required" />
        <xs:attribute name="Z" type="xs:float" use="required" />
        <xs:attribute name="W" type="xs:float" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BezierPathDetailed">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ControlPoint" type="SerializableVector3" />
      <xs:element minOccurs="0" maxOccurs="1" name="PreviousPathLinkedArc" type="ArcData" />
      <xs:element minOccurs="0" maxOccurs="1" name="TurnSpeedConstraint" type="TurnSpeedConstraint" />
      <xs:element minOccurs="1" maxOccurs="1" name="InitialRotation" type="SerializableQuaternion" />
      <xs:element minOccurs="1" maxOccurs="1" name="FinalRotation" type="SerializableQuaternion" />
    </xs:sequence>
    <xs:attribute name="PrecisionStep" type="xs:float" use="required" />
  </xs:complexType>
  <xs:complexType name="ArcData">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Position" type="Vector3" />
      <xs:element minOccurs="1" maxOccurs="1" name="Rotation" type="Quaternion" />
    </xs:sequence>
    <xs:attribute name="Index" type="xs:int" use="required" />
    <xs:attribute name="Length" type="xs:float" use="required" />
    <xs:attribute name="AccumulatedLength" type="xs:float" use="required" />
    <xs:attribute name="RelativeAngle" type="xs:float" use="required" />
    <xs:attribute name="SpeedFactor" type="xs:float" use="required" />
  </xs:complexType>
  <xs:complexType name="TurnSpeedConstraint">
    <xs:attribute name="CriticalAngle" type="xs:float" use="required" />
    <xs:attribute name="CriticalAngleSpeedFactor" type="xs:float" use="required" />
  </xs:complexType>
  <xs:complexType name="DatatableElement">
    <xs:attribute name="Name" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="ArrayOfEncounterFlotillaMatchTargetingRangeDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TargetingRange" type="EncounterFlotillaMatchTargetingRangeDefinition" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EncounterFlotillaMatchTargetingRangeDefinition">
    <xs:attribute name="PhaseIndex" type="xs:int" use="required" />
    <xs:attribute name="RangeName" type="xs:string" />
  </xs:complexType>
</xs:schema>