Endless Space Competitive Mod/Schemas/EntityActionDefinition.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Datatable" />
  <xs:element name="EntityActionDefinition" nillable="true" type="EntityActionDefinition" />
  <xs:complexType name="EntityActionDefinition">
    <xs:complexContent mixed="false">
      <xs:extension base="UnlockDatatableElement">
        <xs:sequence>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element minOccurs="0" maxOccurs="1" name="EntityPrerequisites" type="EntityFilterDefinition" />
            <xs:element minOccurs="0" maxOccurs="1" name="EntityModifiers" type="EntityFilterDefinition" />
          </xs:choice>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element minOccurs="0" maxOccurs="1" name="CustomCost" type="CustomConstructionCost" />
            <xs:element minOccurs="0" maxOccurs="1" name="Cost" type="ConstructionCost" />
          </xs:choice>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element minOccurs="0" maxOccurs="1" name="DatePrerequisite" type="DatePrerequisite" />
            <xs:element minOccurs="0" maxOccurs="1" name="GameSettingPrerequisite" type="GameSettingPrerequisite" />
            <xs:element minOccurs="0" maxOccurs="1" name="InterpreterPrerequisite" type="InterpreterPrerequisite" />
            <xs:element minOccurs="0" maxOccurs="1" name="PathPrerequisite" type="PathPrerequisite" />
            <xs:element minOccurs="0" maxOccurs="1" name="SupportPrerequisite" type="SupportPrerequisite" />
            <xs:element minOccurs="0" maxOccurs="1" name="TechnologyPrerequisite" type="TechnologyPrerequisite" />
            <xs:element minOccurs="0" maxOccurs="1" name="DownloadableContentPrerequisite" type="DownloadableContentPrerequisite" />
          </xs:choice>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="CancelActions" type="EntityActionCancelFlag" />
        </xs:sequence>
        <xs:attribute name="Flags" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EntityFilterDefinition">
    <xs:complexContent mixed="false">
      <xs:extension base="DatatableElement">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="SimulationAlteration" type="SimulationEntityAlterationDefinition" />
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element minOccurs="0" maxOccurs="1" name="InterpreterPrerequisite" type="InterpreterPrerequisite" />
            <xs:element minOccurs="0" maxOccurs="1" name="PathPrerequisite" type="PathPrerequisite" />
          </xs:choice>
        </xs:sequence>
        <xs:attribute default="None" name="Filter" type="EntityFilterFlags" />
        <xs:attribute name="Location" type="EntityLocationType" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SimulationEntityAlterationDefinition">
    <xs:complexContent mixed="false">
      <xs:extension base="EntityAlterationDefinition">
        <xs:attribute name="DescriptorReference" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EntityAlterationDefinition">
    <xs:complexContent mixed="false">
      <xs:extension base="DatatableElement" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DatatableElement">
    <xs:attribute name="Name" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="UnlockDatatableElement">
    <xs:complexContent mixed="false">
      <xs:extension base="DatatableElement">
        <xs:attribute name="KeyWords" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="InterpreterPrerequisite">
    <xs:simpleContent>
      <xs:extension base="Prerequisite" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="Prerequisite">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute default="false" name="Inverted" type="xs:boolean" />
        <xs:attribute name="Flags" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="PathPrerequisite">
    <xs:simpleContent>
      <xs:extension base="Prerequisite" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="DatePrerequisite">
    <xs:simpleContent>
      <xs:extension base="Prerequisite" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="GameSettingPrerequisite">
    <xs:simpleContent>
      <xs:extension base="Prerequisite" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="SupportPrerequisite">
    <xs:simpleContent>
      <xs:extension base="Prerequisite">
        <xs:attribute name="Politics" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="PathValidityPrerequisite">
    <xs:simpleContent>
      <xs:extension base="Prerequisite" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="TechnologyPrerequisite">
    <xs:simpleContent>
      <xs:extension base="PathValidityPrerequisite">
        <xs:attribute default="false" name="UnlockHidden" type="xs:boolean" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="DownloadableContentPrerequisite">
    <xs:simpleContent>
      <xs:extension base="Prerequisite" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="EntityFilterFlags">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="None" />
          <xs:enumeration value="Me" />
          <xs:enumeration value="Other" />
          <xs:enumeration value="SameEmpire" />
          <xs:enumeration value="OtherEmpire" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:simpleType name="EntityLocationType">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="None" />
          <xs:enumeration value="Self" />
          <xs:enumeration value="OrbitEntities" />
          <xs:enumeration value="DockedEntities" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:complexType name="CustomConstructionCost">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute default="false" name="Instant" type="xs:boolean" />
        <xs:attribute default="false" name="InstantOnCompletion" type="xs:boolean" />
        <xs:attribute name="ResourceName" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ConstructionCost">
    <xs:simpleContent>
      <xs:extension base="xs:float">
        <xs:attribute default="false" name="Instant" type="xs:boolean" />
        <xs:attribute default="false" name="InstantOnCompletion" type="xs:boolean" />
        <xs:attribute name="ResourceName" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="EntityActionCancelFlag">
    <xs:attribute name="SameContext" type="xs:boolean" use="required" />
    <xs:attribute name="SameInitiator" type="xs:boolean" use="required" />
    <xs:attribute default="false" name="SameNodeAndOnAllEmpires" type="xs:boolean" />
    <xs:attribute name="Flags" type="xs:string" />
  </xs:complexType>
  <xs:element name="ColonizeFleetAction" nillable="true" type="ColonizeFleetAction" />
  <xs:complexType name="ColonizeFleetAction">
    <xs:complexContent mixed="false">
      <xs:extension base="FleetActionWithFeedbackDefinition" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="FleetActionWithFeedbackDefinition">
    <xs:complexContent mixed="false">
      <xs:extension base="FleetActionDefinition">
        <xs:attribute name="FeedbackDuration" type="xs:float" use="required" />
        <xs:attribute default="0.5" name="FeedbackDelay" type="xs:float" />
        <xs:attribute default="0.5" name="DelayAfterFeedback" type="xs:float" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="FleetActionDefinition">
    <xs:complexContent mixed="false">
      <xs:extension base="EntityActionDefinition">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="ExtraCost" type="FleetActionExtraCost" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="FleetActionExtraCost">
    <xs:simpleContent>
      <xs:extension base="xs:float">
        <xs:attribute name="ResourceName" type="xs:string" />
        <xs:attribute name="Location" type="ExtraCostLocation" use="required" />
        <xs:attribute name="Flags" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="ExtraCostLocation">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OneShip" />
      <xs:enumeration value="AllShips" />
      <xs:enumeration value="Mothership" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SuperColonizeFleetAction" nillable="true" type="SuperColonizeFleetAction" />
  <xs:complexType name="SuperColonizeFleetAction">
    <xs:complexContent mixed="false">
      <xs:extension base="ColonizeFleetAction">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="TemporaryEffect" type="ColonizationTemporaryEffectReference" />
        </xs:sequence>
        <xs:attribute name="PropertyToReset" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ColonizationTemporaryEffectReference">
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute name="DurationProperty" type="xs:string" />
  </xs:complexType>
  <xs:element name="RootNodeFleetAction" nillable="true" type="RootNodeFleetAction" />
  <xs:complexType name="RootNodeFleetAction">
    <xs:complexContent mixed="false">
      <xs:extension base="FleetActionDefinition" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AttachMothershipFleetAction" nillable="true" type="AttachMothershipFleetAction" />
  <xs:complexType name="AttachMothershipFleetAction">
    <xs:complexContent mixed="false">
      <xs:extension base="FleetActionDefinition" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CreatePortalFleetAction" nillable="true" type="CreatePortalFleetAction" />
  <xs:complexType name="CreatePortalFleetAction">
    <xs:complexContent mixed="false">
      <xs:extension base="FleetActionDefinition" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CollectRelicsFleetAction" nillable="true" type="CollectRelicsFleetAction" />
  <xs:complexType name="CollectRelicsFleetAction">
    <xs:complexContent mixed="false">
      <xs:extension base="FleetActionDefinition">
        <xs:attribute name="Duration" type="xs:int" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ExpeditionFleetAction" nillable="true" type="ExpeditionFleetAction" />
  <xs:complexType name="ExpeditionFleetAction">
    <xs:complexContent mixed="false">
      <xs:extension base="FleetActionWithFeedbackDefinition">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="MovementCostFormula" type="FleetActionMovementCost" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="FleetActionMovementCost">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Formula" type="xs:string" />
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element minOccurs="0" maxOccurs="1" name="CustomCostOnShipWithLowestMovementImpact" type="CustomConstructionCost" />
        <xs:element minOccurs="0" maxOccurs="1" name="CostOnShipWithLowestMovementImpact" type="ConstructionCost" />
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="Flags" type="xs:string" />
  </xs:complexType>
  <xs:element name="ReclaimMothershipFleetAction" nillable="true" type="ReclaimMothershipFleetAction" />
  <xs:complexType name="ReclaimMothershipFleetAction">
    <xs:complexContent mixed="false">
      <xs:extension base="FleetActionDefinition">
        <xs:attribute name="Duration" type="xs:int" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LaunchProbeFleetAction" nillable="true" type="LaunchProbeFleetAction" />
  <xs:complexType name="LaunchProbeFleetAction">
    <xs:complexContent mixed="false">
      <xs:extension base="FleetActionDefinition">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="MovementCostFormula" type="FleetActionMovementCost" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LaunchMiningProbeFleetAction" nillable="true" type="LaunchMiningProbeFleetAction" />
  <xs:complexType name="LaunchMiningProbeFleetAction">
    <xs:complexContent mixed="false">
      <xs:extension base="FleetActionWithFeedbackDefinition">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="MovementCostFormula" type="FleetActionMovementCost" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FireObliteratorFleetAction" nillable="true" type="FireObliteratorFleetAction" />
  <xs:complexType name="FireObliteratorFleetAction">
    <xs:complexContent mixed="false">
      <xs:extension base="FleetActionDefinition">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="TemporaryEffect" type="ObliteratorTemporaryEffectReference" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ObliteratorTemporaryEffectReference">
    <xs:attribute name="Name" type="xs:string" />
  </xs:complexType>
  <xs:element name="FireIonWaveFleetAction" nillable="true" type="FireIonWaveFleetAction" />
  <xs:complexType name="FireIonWaveFleetAction">
    <xs:complexContent mixed="false">
      <xs:extension base="FleetActionDefinition">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="BattleshipSimulationDescriptorReference" type="SimulationDescriptorReference" />
        </xs:sequence>
        <xs:attribute name="DamageRatio" type="xs:float" use="required" />
        <xs:attribute name="Cooldown" type="xs:int" use="required" />
        <xs:attribute name="Duration" type="xs:int" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SimulationDescriptorReference">
    <xs:complexContent mixed="false">
      <xs:extension base="ValueType">
        <xs:attribute name="Name" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ValueType" />
  <xs:element name="GoToFleetAction" nillable="true" type="GoToFleetAction" />
  <xs:complexType name="GoToFleetAction">
    <xs:complexContent mixed="false">
      <xs:extension base="FleetActionDefinition">
        <xs:attribute default="false" name="ClearInterceptionStatus" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MoveToFleetAction" nillable="true" type="MoveToFleetAction" />
  <xs:complexType name="MoveToFleetAction">
    <xs:complexContent mixed="false">
      <xs:extension base="FleetActionDefinition" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UsePortalFleetAction" nillable="true" type="UsePortalFleetAction" />
  <xs:complexType name="UsePortalFleetAction">
    <xs:complexContent mixed="false">
      <xs:extension base="FleetActionDefinition" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TeleportToPreviousNodeFleetAction" nillable="true" type="TeleportToPreviousNodeFleetAction" />
  <xs:complexType name="TeleportToPreviousNodeFleetAction">
    <xs:complexContent mixed="false">
      <xs:extension base="FleetActionDefinition" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AutoExploreFleetAction" nillable="true" type="AutoExploreFleetAction" />
  <xs:complexType name="AutoExploreFleetAction">
    <xs:complexContent mixed="false">
      <xs:extension base="GoToFleetAction" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AutomatedDeliveryFleetAction" nillable="true" type="AutomatedDeliveryFleetAction" />
  <xs:complexType name="AutomatedDeliveryFleetAction">
    <xs:complexContent mixed="false">
      <xs:extension base="GoToFleetAction" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AttackFleetAction" nillable="true" type="AttackFleetAction" />
  <xs:complexType name="AttackFleetAction">
    <xs:complexContent mixed="false">
      <xs:extension base="FleetActionDefinition">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="AttackingShipCost" type="ShipCostProvider" />
          <xs:element minOccurs="0" maxOccurs="1" name="DefendingShipCost" type="ShipCostProvider" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ShipCostProvider">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element minOccurs="0" maxOccurs="1" name="CustomCost" type="CustomConstructionCost" />
        <xs:element minOccurs="0" maxOccurs="1" name="Cost" type="ConstructionCost" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SleepFleetAction" nillable="true" type="SleepFleetAction" />
  <xs:complexType name="SleepFleetAction">
    <xs:complexContent mixed="false">
      <xs:extension base="FleetActionDefinition" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SleepForThisTurnFleetAction" nillable="true" type="SleepForThisTurnFleetAction" />
  <xs:complexType name="SleepForThisTurnFleetAction">
    <xs:complexContent mixed="false">
      <xs:extension base="SleepFleetAction" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PrivateerFleetAction" nillable="true" type="PrivateerFleetAction" />
  <xs:complexType name="PrivateerFleetAction">
    <xs:complexContent mixed="false">
      <xs:extension base="FleetActionDefinition" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TransferResourcesFleetAction" nillable="true" type="TransferResourcesFleetAction" />
  <xs:complexType name="TransferResourcesFleetAction">
    <xs:complexContent mixed="false">
      <xs:extension base="FleetActionDefinition">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="StartEventName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="StockEmptyEventName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="FleetPopulationEventName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="SystemPopulationEventName" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InitiateEmpireActionFleetAction" nillable="true" type="InitiateEmpireActionFleetAction" />
  <xs:complexType name="InitiateEmpireActionFleetAction">
    <xs:complexContent mixed="false">
      <xs:extension base="FleetActionDefinition">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="EmpireLocalActionName" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InitiateTerraformationEmpireActionFleetAction" nillable="true" type="InitiateTerraformationEmpireActionFleetAction" />
  <xs:complexType name="InitiateTerraformationEmpireActionFleetAction">
    <xs:complexContent mixed="false">
      <xs:extension base="InitiatePlanetConstructionEmpireActionFleetActionDefinition" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="InitiatePlanetConstructionEmpireActionFleetActionDefinition">
    <xs:complexContent mixed="false">
      <xs:extension base="InitiateEmpireActionFleetAction" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InitiateRestorationEmpireActionFleetAction" nillable="true" type="InitiateRestorationEmpireActionFleetAction" />
  <xs:complexType name="InitiateRestorationEmpireActionFleetAction">
    <xs:complexContent mixed="false">
      <xs:extension base="InitiateTerraformationEmpireActionFleetAction" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InitiateAnomalyReductionEmpireActionFleetAction" nillable="true" type="InitiateAnomalyReductionEmpireActionFleetAction" />
  <xs:complexType name="InitiateAnomalyReductionEmpireActionFleetAction">
    <xs:complexContent mixed="false">
      <xs:extension base="InitiatePlanetConstructionEmpireActionFleetActionDefinition" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="HonorFleetActionDefinition" nillable="true" type="HonorFleetActionDefinition" />
  <xs:complexType name="HonorFleetActionDefinition">
    <xs:complexContent mixed="false">
      <xs:extension base="FleetActionDefinition">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="SimulationDescriptorReference" type="SimulationDescriptorReference" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="ZoneEffectReference" type="XmlNamedReference" />
        </xs:sequence>
        <xs:attribute name="HonorThresholdReference" type="xs:string" />
        <xs:attribute name="HonorCheckType" type="HonorCheckType" use="required" />
        <xs:attribute name="CumulateTargetDescriptorsAndZoneEffects" type="xs:boolean" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="XmlNamedReference">
    <xs:attribute name="Name" type="xs:string" />
  </xs:complexType>
  <xs:simpleType name="HonorCheckType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OverMinValue" />
      <xs:enumeration value="UnderMinValue" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DestroyPlanetFleetAction" nillable="true" type="DestroyPlanetFleetAction" />
  <xs:complexType name="DestroyPlanetFleetAction">
    <xs:complexContent mixed="false">
      <xs:extension base="FleetActionDefinition">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="DescriptorSet" type="SimulationDescriptorSet" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SimulationDescriptorSet">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element minOccurs="0" maxOccurs="1" name="InterpreterPrerequisite" type="InterpreterPrerequisite" />
        <xs:element minOccurs="0" maxOccurs="1" name="PathPrerequisite" type="PathPrerequisite" />
      </xs:choice>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SimulationDescriptorReference" type="SimulationDescriptorReference" />
    </xs:sequence>
    <xs:attribute default="false" name="IgnorePlanetDestruction" type="xs:boolean" />
  </xs:complexType>
  <xs:element name="InvisibilityFleetAction" nillable="true" type="InvisibilityFleetAction" />
  <xs:complexType name="InvisibilityFleetAction">
    <xs:complexContent mixed="false">
      <xs:extension base="FleetActionDefinition">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="SuspendableDescriptor" type="SimulationDescriptorReference" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GuardEmpireLocalAction" nillable="true" type="GuardEmpireLocalAction" />
  <xs:complexType name="GuardEmpireLocalAction">
    <xs:complexContent mixed="false">
      <xs:extension base="EmpireLocalActionDefinition">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="ProtectSimulationDescriptorReference" type="SimulationDescriptorReference" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="BlockadeSimulationDescriptorReference" type="SimulationDescriptorReference" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EmpireLocalActionDefinition">
    <xs:complexContent mixed="false">
      <xs:extension base="EmpireActionDefinition">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="FleetAlterations" type="EntityAlterationListDefinition" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EntityAlterationListDefinition">
    <xs:complexContent mixed="false">
      <xs:extension base="DatatableElement">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="SimulationAlteration" type="SimulationEntityAlterationDefinition" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EmpireActionDefinition">
    <xs:complexContent mixed="false">
      <xs:extension base="EntityActionDefinition" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TerraformPlanetEmpireLocalAction" nillable="true" type="TerraformPlanetEmpireLocalAction" />
  <xs:complexType name="TerraformPlanetEmpireLocalAction">
    <xs:complexContent mixed="false">
      <xs:extension base="PlanetConstructionEmpireLocalActionDefinition" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PlanetConstructionEmpireLocalActionDefinition">
    <xs:complexContent mixed="false">
      <xs:extension base="EmpireLocalActionDefinition">
        <xs:attribute name="SecondaryFleetProductionMultiplier" type="xs:float" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ReduceAnomalyEmpireLocalAction" nillable="true" type="ReduceAnomalyEmpireLocalAction" />
  <xs:complexType name="ReduceAnomalyEmpireLocalAction">
    <xs:complexContent mixed="false">
      <xs:extension base="PlanetConstructionEmpireLocalActionDefinition" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="HonorActionDefinition" nillable="true" type="HonorActionDefinition" />
  <xs:complexType name="HonorActionDefinition">
    <xs:complexContent mixed="false">
      <xs:extension base="EmpireActionDefinition">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="AllowedTarget" type="HonorActionTarget" />
          <xs:element minOccurs="0" maxOccurs="1" name="PrerequisitesOnTarget" type="ArrayOfChoice1" />
          <xs:element minOccurs="0" maxOccurs="1" name="DescriptorsOnTarget" type="ArrayOfXmlNamedReference" />
          <xs:element minOccurs="0" maxOccurs="1" name="ZoneEffectsOnTarget" type="ArrayOfXmlNamedReference1" />
        </xs:sequence>
        <xs:attribute name="Duration" type="xs:int" use="required" />
        <xs:attribute name="HonorCheckType" type="HonorCheckType" use="required" />
        <xs:attribute name="HonorThresholdReference" type="xs:string" />
        <xs:attribute name="CumulateTargetDescriptorsAndZoneEffects" type="xs:boolean" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="HonorActionTarget">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Fleet" />
      <xs:enumeration value="ColonizedStarSystem" />
      <xs:enumeration value="Juggernaut" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ArrayOfChoice1">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="0" maxOccurs="1" name="PathPrerequisite" type="PathPrerequisite" />
      <xs:element minOccurs="0" maxOccurs="1" name="InterpreterPrerequisite" type="InterpreterPrerequisite" />
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ArrayOfXmlNamedReference">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SimulationDescriptorReference" type="XmlNamedReference" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfXmlNamedReference1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ZoneEffectReference" type="XmlNamedReference" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmpireDiplomaticAction" nillable="true" type="EmpireDiplomaticAction" />
  <xs:complexType name="EmpireDiplomaticAction">
    <xs:complexContent mixed="false">
      <xs:extension base="EmpireActionDefinition">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="MinorLuxuryCost" type="CustomAnonymousCost" />
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element minOccurs="0" maxOccurs="1" name="BestRelationPrerequisite" type="EmpireDiplomaticBestRelationPrerequisite" />
            <xs:element minOccurs="0" maxOccurs="1" name="StatePrerequisite" type="EmpireDiplomaticRelationStatePrerequisite" />
            <xs:element minOccurs="0" maxOccurs="1" name="PointsPrerequisite" type="EmpireDiplomaticRelationPointsPrerequisite" />
          </xs:choice>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element minOccurs="0" maxOccurs="1" name="RelationInterpreterPrerequisite" type="InterpreterPrerequisite" />
            <xs:element minOccurs="0" maxOccurs="1" name="RelationPathPrerequisite" type="PathPrerequisite" />
          </xs:choice>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element minOccurs="0" maxOccurs="1" name="MinorEmpireInterpreterPrerequisite" type="InterpreterPrerequisite" />
            <xs:element minOccurs="0" maxOccurs="1" name="MinorEmpirePathPrerequisite" type="PathPrerequisite" />
          </xs:choice>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="PopulationEventOnSelf" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ScoreProviderEventOnSelf" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="PopulationEventOnTarget" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ScoreProviderEventOnTarget" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="TemporaryEffect" type="xs:string" />
        </xs:sequence>
        <xs:attribute name="ResultingDiplomaticRelationState" type="xs:string" />
        <xs:attribute default="false" name="RefreshRelationPoint" type="xs:boolean" />
        <xs:attribute default="false" name="HidePanelOnClick" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CustomAnonymousCost">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute default="false" name="Instant" type="xs:boolean" />
        <xs:attribute default="false" name="InstantOnCompletion" type="xs:boolean" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="EmpireDiplomaticBestRelationPrerequisite">
    <xs:complexContent mixed="false">
      <xs:extension base="EmpireDiplomaticRelationPrerequisite" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EmpireDiplomaticRelationPrerequisite">
    <xs:attribute name="Inverted" type="xs:boolean" use="required" />
    <xs:attribute default="false" name="Hidden" type="xs:boolean" />
    <xs:attribute name="Flags" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="EmpireDiplomaticRelationStatePrerequisite">
    <xs:complexContent mixed="false">
      <xs:extension base="EmpireDiplomaticRelationPrerequisite">
        <xs:attribute name="State" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EmpireDiplomaticRelationPointsPrerequisite">
    <xs:complexContent mixed="false">
      <xs:extension base="EmpireDiplomaticRelationPrerequisite">
        <xs:attribute name="Value" type="xs:float" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EmpireDiplomaticActionDynamicCost" nillable="true" type="EmpireDiplomaticActionDynamicCost" />
  <xs:complexType name="EmpireDiplomaticActionDynamicCost">
    <xs:complexContent mixed="false">
      <xs:extension base="EmpireDiplomaticAction" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AssimilateEmpireAction" nillable="true" type="AssimilateEmpireAction" />
  <xs:complexType name="AssimilateEmpireAction">
    <xs:complexContent mixed="false">
      <xs:extension base="EmpireDiplomaticAction" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CreateAllianceEmpireAction" nillable="true" type="CreateAllianceEmpireAction" />
  <xs:complexType name="CreateAllianceEmpireAction">
    <xs:complexContent mixed="false">
      <xs:extension base="EmpireDiplomaticAction" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AskForMinorQuestEmpireActionDefinition" nillable="true" type="AskForMinorQuestEmpireActionDefinition" />
  <xs:complexType name="AskForMinorQuestEmpireActionDefinition">
    <xs:complexContent mixed="false">
      <xs:extension base="EmpireDiplomaticActionDynamicCost" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EmpireDiplomaticMigrationAction" nillable="true" type="EmpireDiplomaticMigrationAction" />
  <xs:complexType name="EmpireDiplomaticMigrationAction">
    <xs:complexContent mixed="false">
      <xs:extension base="EmpireDiplomaticAction">
        <xs:attribute name="PopulationCount" type="xs:int" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EmpireDiplomaticAbilityAction" nillable="true" type="EmpireDiplomaticAbilityAction" />
  <xs:complexType name="EmpireDiplomaticAbilityAction">
    <xs:complexContent mixed="false">
      <xs:extension base="EmpireDiplomaticAction">
        <xs:attribute name="DiplomaticAbilityReference" type="xs:string" />
        <xs:attribute name="Duration" type="xs:int" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EmpireDiplomaticGivePopulationAsShipAction" nillable="true" type="EmpireDiplomaticGivePopulationAsShipAction" />
  <xs:complexType name="EmpireDiplomaticGivePopulationAsShipAction">
    <xs:complexContent mixed="false">
      <xs:extension base="EmpireDiplomaticAction">
        <xs:attribute name="PopulationCount" type="xs:int" use="required" />
        <xs:attribute name="FleetCount" type="xs:int" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EmpireDiplomacyGiveResourcesAction" nillable="true" type="EmpireDiplomacyGiveResourcesAction" />
  <xs:complexType name="EmpireDiplomacyGiveResourcesAction">
    <xs:complexContent mixed="false">
      <xs:extension base="EmpireDiplomaticAction">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="ResourceReward" type="CustomConstructionCost" />
        </xs:sequence>
        <xs:attribute name="PopulationToDestroyCount" type="xs:int" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GhostifyEmpireAction" nillable="true" type="GhostifyEmpireAction" />
  <xs:complexType name="GhostifyEmpireAction">
    <xs:complexContent mixed="false">
      <xs:extension base="EmpireDiplomaticAction" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PirateDiplomaticAction" nillable="true" type="PirateDiplomaticAction" />
  <xs:complexType name="PirateDiplomaticAction">
    <xs:complexContent mixed="false">
      <xs:extension base="EmpireActionDefinition">
        <xs:sequence>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element minOccurs="0" maxOccurs="1" name="PirateInterpreterPrerequisite" type="InterpreterPrerequisite" />
            <xs:element minOccurs="0" maxOccurs="1" name="PiratePathPrerequisite" type="PathPrerequisite" />
          </xs:choice>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element minOccurs="0" maxOccurs="1" name="DiplomaticAbilityPrerequisite" type="DiplomaticAbilityPrerequisite" />
            <xs:element minOccurs="0" maxOccurs="1" name="DiplomaticRelationStatePrerequisite" type="DiplomaticRelationStatePrerequisite" />
            <xs:element minOccurs="0" maxOccurs="1" name="DiplomaticMetaPrerequisite" type="SimpleDiplomaticMetaPrerequisite" />
          </xs:choice>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="PopulationEvent" type="XmlNamedReference" />
          <xs:element minOccurs="0" maxOccurs="1" name="ScoreProvider" type="XmlNamedReference" />
          <xs:element minOccurs="0" maxOccurs="1" name="RelationPointsGainFormula" type="xs:string" />
        </xs:sequence>
        <xs:attribute name="IncrementProperty" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DiplomaticAbilityPrerequisite">
    <xs:simpleContent>
      <xs:extension base="DiplomaticPrerequisite">
        <xs:attribute name="TargetRelation" type="PrerequisiteTargetRelation" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="PrerequisiteTargetRelation">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ReceiverToProvider" />
      <xs:enumeration value="ProviderToReceiver" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="DiplomaticPrerequisite">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute default="false" name="Inverted" type="xs:boolean" />
        <xs:attribute name="Flags" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="DiplomaticRelationStatePrerequisite">
    <xs:simpleContent>
      <xs:extension base="DiplomaticPrerequisite">
        <xs:attribute default="EmpireWhichProvides" name="Responsible" type="DiplomaticCostResponsible" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="DiplomaticCostResponsible">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EmpireWhichProposes" />
      <xs:enumeration value="EmpireWhichProvides" />
      <xs:enumeration value="EmpireWhichReceives" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SimpleDiplomaticMetaPrerequisite">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element minOccurs="0" maxOccurs="1" name="DiplomaticAbilityPrerequisite" type="DiplomaticAbilityPrerequisite" />
        <xs:element minOccurs="0" maxOccurs="1" name="DiplomaticRelationStatePrerequisite" type="DiplomaticRelationStatePrerequisite" />
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="Operator" type="OperatorType" use="required" />
    <xs:attribute default="false" name="Inverted" type="xs:boolean" />
    <xs:attribute name="Flags" type="xs:string" />
  </xs:complexType>
  <xs:simpleType name="OperatorType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OR" />
      <xs:enumeration value="XOR" />
      <xs:enumeration value="NOR" />
      <xs:enumeration value="AND" />
      <xs:enumeration value="NAND" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ChangeRelationPirateDiplomaticAction" nillable="true" type="ChangeRelationPirateDiplomaticAction" />
  <xs:complexType name="ChangeRelationPirateDiplomaticAction">
    <xs:complexContent mixed="false">
      <xs:extension base="PirateDiplomaticAction">
        <xs:attribute name="Duration" type="xs:int" use="required" />
        <xs:attribute name="RelationState" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TransferResourcesPirateDiplomaticAction" nillable="true" type="TransferResourcesPirateDiplomaticAction" />
  <xs:complexType name="TransferResourcesPirateDiplomaticAction">
    <xs:complexContent mixed="false">
      <xs:extension base="PirateDiplomaticAction">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="AmountFormula" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="TemporaryEffect" type="XmlNamedReference" />
        </xs:sequence>
        <xs:attribute name="GiveToPirate" type="xs:boolean" use="required" />
        <xs:attribute name="ResourceName" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AttackSystemPirateDiplomaticAction" nillable="true" type="AttackSystemPirateDiplomaticAction" />
  <xs:complexType name="AttackSystemPirateDiplomaticAction">
    <xs:complexContent mixed="false">
      <xs:extension base="PirateDiplomaticAction">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="SystemPrerequisites" type="ArrayOfChoice1" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="LeechedResource" type="LeechedResource" />
          <xs:element minOccurs="0" maxOccurs="1" name="CancelCostFormula" type="xs:string" />
        </xs:sequence>
        <xs:attribute name="Duration" type="xs:int" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LeechedResource">
    <xs:attribute name="ResourceName" type="xs:string" />
    <xs:attribute name="PropertyName" type="xs:string" />
    <xs:attribute default="1" name="Modifier" type="xs:float" />
  </xs:complexType>
  <xs:element name="DecolonizeStarSystemAction" nillable="true" type="DecolonizeStarSystemAction" />
  <xs:complexType name="DecolonizeStarSystemAction">
    <xs:complexContent mixed="false">
      <xs:extension base="StarSystemAction" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="StarSystemAction">
    <xs:complexContent mixed="false">
      <xs:extension base="EntityActionDefinition" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PauseOutpostStarSystemAction" nillable="true" type="PauseOutpostStarSystemAction" />
  <xs:complexType name="PauseOutpostStarSystemAction">
    <xs:complexContent mixed="false">
      <xs:extension base="StarSystemAction" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OutpostActionDefinition" nillable="true" type="OutpostActionDefinition" />
  <xs:complexType name="OutpostActionDefinition">
    <xs:complexContent mixed="false">
      <xs:extension base="StarSystemAction">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="MigrationFluxSimulationDescriptorReference" type="SimulationDescriptorReference" />
        </xs:sequence>
        <xs:attribute default="false" name="RequiresMigrationFlux" type="xs:boolean" />
        <xs:attribute name="Duration" type="xs:int" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OutpostActionBoostGrowthWithTradeRoutesDefinition" nillable="true" type="OutpostActionBoostGrowthWithTradeRoutesDefinition" />
  <xs:complexType name="OutpostActionBoostGrowthWithTradeRoutesDefinition">
    <xs:complexContent mixed="false">
      <xs:extension base="OutpostActionDefinition">
        <xs:attribute name="GrowthMultiplier" type="xs:float" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OutpostActionWithTargetsDefinition" nillable="true" type="OutpostActionWithTargetsDefinition" />
  <xs:complexType name="OutpostActionWithTargetsDefinition">
    <xs:complexContent mixed="false">
      <xs:extension base="OutpostActionDefinition">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="TargetDescriptors" type="ArrayOfSimulationDescriptorReference" />
          <xs:element minOccurs="0" maxOccurs="1" name="SelfDescriptors" type="ArrayOfSimulationDescriptorReference" />
        </xs:sequence>
        <xs:attribute name="ApplySelfDescriptorsOncePerTarget" type="xs:boolean" use="required" />
        <xs:attribute name="Target" type="TargetType" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfSimulationDescriptorReference">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SimulationDescriptorReference" type="SimulationDescriptorReference" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="TargetType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MostAdvancedOutpost" />
      <xs:enumeration value="AllOutposts" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="OutpostActionFinishDefinition" nillable="true" type="OutpostActionFinishDefinition" />
  <xs:complexType name="OutpostActionFinishDefinition">
    <xs:complexContent mixed="false">
      <xs:extension base="OutpostActionDefinition" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GroundBattleStarSystemAction" nillable="true" type="GroundBattleStarSystemAction" />
  <xs:complexType name="GroundBattleStarSystemAction">
    <xs:complexContent mixed="false">
      <xs:extension base="StarSystemAction">
        <xs:sequence>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element minOccurs="0" maxOccurs="1" name="TechnologyPrerequisiteOnInitiatorFleet" type="TechnologyPrerequisite" />
            <xs:element minOccurs="0" maxOccurs="1" name="InterpreterPrerequisiteOnInitiatorFleet" type="InterpreterPrerequisite" />
            <xs:element minOccurs="0" maxOccurs="1" name="PathPrerequisiteOnInitiatorFleet" type="PathPrerequisite" />
          </xs:choice>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SiegeStarSystemAction" nillable="true" type="SiegeStarSystemAction" />
  <xs:complexType name="SiegeStarSystemAction">
    <xs:complexContent mixed="false">
      <xs:extension base="StarSystemAction">
        <xs:sequence>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element minOccurs="0" maxOccurs="1" name="TechnologyPrerequisiteOnInitiatorFleet" type="TechnologyPrerequisite" />
            <xs:element minOccurs="0" maxOccurs="1" name="InterpreterPrerequisiteOnInitiatorFleet" type="InterpreterPrerequisite" />
            <xs:element minOccurs="0" maxOccurs="1" name="PathPrerequisiteOnInitiatorFleet" type="PathPrerequisite" />
          </xs:choice>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PropagandaSystemAction" nillable="true" type="PropagandaSystemAction" />
  <xs:complexType name="PropagandaSystemAction">
    <xs:complexContent mixed="false">
      <xs:extension base="StarSystemAction">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="PoliticsScoreGainFormulaTokens" type="ArrayOfAnyType" />
          <xs:element minOccurs="0" maxOccurs="1" name="PoliticsDefinition" type="XmlNamedReference" />
          <xs:element minOccurs="0" maxOccurs="1" name="PoliticalScoreGainFormula" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfAnyType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DestroyTraitorPopulationsSystemAction" nillable="true" type="DestroyTraitorPopulationsSystemAction" />
  <xs:complexType name="DestroyTraitorPopulationsSystemAction">
    <xs:complexContent mixed="false">
      <xs:extension base="SystemTraitorsActionDefinition" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SystemTraitorsActionDefinition">
    <xs:complexContent mixed="false">
      <xs:extension base="StarSystemAction" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClearPopulationTraitorStatusSystemAction" nillable="true" type="ClearPopulationTraitorStatusSystemAction" />
  <xs:complexType name="ClearPopulationTraitorStatusSystemAction">
    <xs:complexContent mixed="false">
      <xs:extension base="SystemTraitorsActionDefinition">
        <xs:attribute name="Duration" type="xs:int" use="required" />
        <xs:attribute name="TraitorsRemovedPerTick" type="xs:int" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TimedSystemTraitorsAction" nillable="true" type="TimedSystemTraitorsAction" />
  <xs:complexType name="TimedSystemTraitorsAction">
    <xs:complexContent mixed="false">
      <xs:extension base="SystemTraitorsActionDefinition">
        <xs:attribute name="Duration" type="xs:int" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DisplacementSystemAction" nillable="true" type="DisplacementSystemAction" />
  <xs:complexType name="DisplacementSystemAction">
    <xs:complexContent mixed="false">
      <xs:extension base="StarSystemAction">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="DestructionPercentageFormula" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="DisplacementEffectDefinitionReference" type="XmlNamedReference" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DecolonizeGhostAction" nillable="true" type="DecolonizeGhostAction" />
  <xs:complexType name="DecolonizeGhostAction">
    <xs:complexContent mixed="false">
      <xs:extension base="StarSystemAction" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MoveToProbeAction" nillable="true" type="MoveToProbeAction" />
  <xs:complexType name="MoveToProbeAction">
    <xs:complexContent mixed="false">
      <xs:extension base="EntityActionDefinition">
        <xs:attribute name="DepartureDelayInSeconds" type="xs:float" use="required" />
        <xs:attribute name="TurnBeginEstimatedDurationInSeconds" type="xs:float" use="required" />
        <xs:attribute name="DurationInSeconds" type="xs:float" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MoveToObliteratorProjectileAction" nillable="true" type="MoveToObliteratorProjectileAction" />
  <xs:complexType name="MoveToObliteratorProjectileAction">
    <xs:complexContent mixed="false">
      <xs:extension base="EntityActionDefinition">
        <xs:attribute name="DepartureDelayInSeconds" type="xs:float" use="required" />
        <xs:attribute name="TurnBeginEstimatedDurationInSeconds" type="xs:float" use="required" />
        <xs:attribute name="DurationInSeconds" type="xs:float" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LockInGarrisonShipAction" nillable="true" type="LockInGarrisonShipAction" />
  <xs:complexType name="LockInGarrisonShipAction">
    <xs:complexContent mixed="false">
      <xs:extension base="ShipActionDefinition">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="EndingPrerequisites" type="ArrayOfChoice1" />
        </xs:sequence>
        <xs:attribute name="RequestedTurnsCount" type="xs:int" use="required" />
        <xs:attribute default="false" name="SilentRecovery" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ShipActionDefinition">
    <xs:complexContent mixed="false">
      <xs:extension base="EntityActionDefinition" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SpecializeJuggernautRetrofitShipAction" nillable="true" type="SpecializeJuggernautRetrofitShipAction" />
  <xs:complexType name="SpecializeJuggernautRetrofitShipAction">
    <xs:complexContent mixed="false">
      <xs:extension base="SpecializeJuggernautShipActionDefinition">
        <xs:attribute name="ShipDesignName" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SpecializeJuggernautShipActionDefinition">
    <xs:complexContent mixed="false">
      <xs:extension base="LockInGarrisonShipAction">
        <xs:sequence>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element minOccurs="0" maxOccurs="1" name="SystemInterpreterPrerequisite" type="InterpreterPrerequisite" />
            <xs:element minOccurs="0" maxOccurs="1" name="SystemPathPrerequisite" type="PathPrerequisite" />
          </xs:choice>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SpecializeJuggernautCitadelShipAction" nillable="true" type="SpecializeJuggernautCitadelShipAction" />
  <xs:complexType name="SpecializeJuggernautCitadelShipAction">
    <xs:complexContent mixed="false">
      <xs:extension base="SpecializeJuggernautShipActionDefinition">
        <xs:attribute name="CitadelDefinitionName" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LaunchDetectionProbeFleetAction" nillable="true" type="LaunchDetectionProbeFleetAction" />
  <xs:complexType name="LaunchDetectionProbeFleetAction">
    <xs:complexContent mixed="false">
      <xs:extension base="FleetActionWithFeedbackDefinition">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="MovementCostFormula" type="FleetActionMovementCost" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>