Endless Space Competitive Mod/Schemas/FactionTrait.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Datatable" />
  <xs:element name="FactionTrait" nillable="true" type="FactionTrait" />
  <xs:complexType name="FactionTrait">
    <xs:complexContent mixed="false">
      <xs:extension base="DatatableElement">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Command" type="Command" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="OutpostImprovementReference" type="XmlNamedReference" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="ColonyImprovementReference" type="XmlNamedReference" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="SubTrait" type="XmlNamedReference" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="SimulationDescriptorReference" type="SimulationDescriptorReference" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="FakeSimulationDescriptorReference" type="SimulationDescriptorReference" />
          <xs:element minOccurs="0" maxOccurs="1" name="FactionTraitTooltipOverride" type="FactionTraitTooltipOverride" />
          <xs:element minOccurs="0" maxOccurs="1" name="Prerequisites" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="StartingFleet" type="StartingFleetData" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="ShipDesign" type="AbstractToShipDesignPair" />
          <xs:element minOccurs="0" maxOccurs="1" name="UnlockedAbstractShipDesigns" type="xs:string" />
        </xs:sequence>
        <xs:attribute default="0" name="Cost" type="xs:int" />
        <xs:attribute name="Family" type="xs:string" />
        <xs:attribute default="true" name="Hidden" type="xs:boolean" />
        <xs:attribute default="false" name="Custom" type="xs:boolean" />
        <xs:attribute default="false" name="HiddenOnFailPrerequisites" type="xs:boolean" />
        <xs:attribute default="false" name="ValidWithAtLeastOnePrerequisite" type="xs:boolean" />
        <xs:attribute default="0" name="Level" type="xs:float" />
        <xs:attribute name="Root" type="xs:string" />
        <xs:attribute default="false" name="IgnoreForTraitsCount" type="xs:boolean" />
        <xs:attribute name="SubCategory" type="xs:string" />
        <xs:attribute default="" name="TraitCategory" type="xs:string" />
        <xs:attribute default="" name="TraitSubCategory" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Command">
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute name="Arguments" type="xs:string" />
    <xs:attribute default="0" name="Priority" type="xs:int" />
  </xs:complexType>
  <xs:complexType name="XmlNamedReference">
    <xs:attribute name="Name" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="SimulationDescriptorReference">
    <xs:complexContent mixed="false">
      <xs:extension base="ValueType">
        <xs:attribute name="Name" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ValueType" />
  <xs:complexType name="FactionTraitTooltipOverride">
    <xs:attribute name="Type" type="OverrideType" use="required" />
    <xs:attribute name="OverrideName" type="xs:string" />
  </xs:complexType>
  <xs:simpleType name="OverrideType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Constructible" />
      <xs:enumeration value="Technology" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="StartingFleetData">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute default="0" name="Priority" type="xs:int" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AbstractToShipDesignPair">
    <xs:attribute name="Abstract" type="xs:string" />
    <xs:attribute name="ShipDesign" type="xs:string" />
    <xs:attribute default="0" name="Priority" type="xs:int" />
  </xs:complexType>
  <xs:complexType name="DatatableElement">
    <xs:attribute name="Name" type="xs:string" />
  </xs:complexType>
  <xs:element name="FactionAffinity" nillable="true" type="FactionAffinity" />
  <xs:complexType name="FactionAffinity">
    <xs:complexContent mixed="false">
      <xs:extension base="FactionTrait">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="DefaultColonizer" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="AutomatedShip" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="BonusSkillTree" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FactionAffinityMapping" nillable="true" type="FactionAffinityMapping" />
  <xs:complexType name="FactionAffinityMapping">
    <xs:complexContent mixed="false">
      <xs:extension base="FactionTrait" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FactionPopulationTrait" nillable="true" type="FactionPopulationTrait" />
  <xs:complexType name="FactionPopulationTrait">
    <xs:complexContent mixed="false">
      <xs:extension base="FactionTrait">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="MajorPopulationDescriptors" type="ArrayOfXmlNamedReference" />
          <xs:element minOccurs="0" maxOccurs="1" name="NonMajorPopulationDescriptors" type="ArrayOfXmlNamedReference" />
          <xs:element minOccurs="0" maxOccurs="1" name="MajorPopulationAspirations" type="ArrayOfXmlNamedReference1" />
          <xs:element minOccurs="0" maxOccurs="1" name="NonMajorPopulationsAspirations" type="ArrayOfXmlNamedReference1" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfXmlNamedReference">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SimulationDescriptorReference" type="XmlNamedReference" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfXmlNamedReference1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AspirationReference" type="XmlNamedReference" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>