Endless Space Competitive Mod/Schemas/Generator.Definitions.PlanetTierDefinition.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Datatable" />
  <xs:element name="PlanetTierDefinition" nillable="true" type="PlanetTierDefinition" />
  <xs:complexType name="PlanetTierDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlanetType" type="xs:string" />
    </xs:sequence>
    <xs:attribute name="Model" type="xs:string" />
    <xs:attribute name="Rank" type="xs:int" use="required" />
  </xs:complexType>
</xs:schema>