Endless Space Competitive Mod/Schemas/Generator.Definitions.PlanetTemperatureDefinition.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Datatable" />
  <xs:element name="PlanetTemperatureDefinition" nillable="true" type="PlanetTemperatureDefinition" />
  <xs:complexType name="PlanetTemperatureDefinition">
    <xs:attribute name="PlanetType" type="xs:string" />
    <xs:attribute name="Temperature" type="xs:int" use="required" />
  </xs:complexType>
</xs:schema>