Endless Space Competitive Mod/Schemas/Generator.Definitions.PlanetGameplayTypeDefinition.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Datatable" />
  <xs:element name="PlanetGameplayTypeDefinition" nillable="true" type="PlanetGameplayTypeDefinition" />
  <xs:complexType name="PlanetGameplayTypeDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GameplayType" type="xs:string" />
    </xs:sequence>
    <xs:attribute name="PlanetType" type="xs:string" />
  </xs:complexType>
</xs:schema>