Endless Space Competitive Mod/Schemas/GroundBattleTroopTypeConfig.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Datatable" />
  <xs:element name="GroundBattleTroopTypeConfig" nillable="true" type="GroundBattleTroopTypeConfig" />
  <xs:complexType name="GroundBattleTroopTypeConfig">
    <xs:complexContent mixed="false">
      <xs:extension base="DatatableElement">
        <xs:attribute name="AttackAdditionalDelay" type="xs:float" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DatatableElement">
    <xs:attribute name="Name" type="xs:string" />
  </xs:complexType>
</xs:schema>