Endless Space Competitive Mod/Schemas/GuiSorter.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Datatable" />
  <xs:element name="GuiSorter" nillable="true" type="GuiSorter" />
  <xs:complexType name="GuiSorter">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Element" type="Element" />
    </xs:sequence>
    <xs:attribute name="Name" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Element">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="Name" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>