Endless Space Competitive Mod/Schemas/HeroMasteryDefinition.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Datatable" />
  <xs:element name="HeroMasteryDefinition" nillable="true" type="HeroMasteryDefinition" />
  <xs:complexType name="HeroMasteryDefinition">
    <xs:complexContent mixed="false">
      <xs:extension base="DatatableElement" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DatatableElement">
    <xs:attribute name="Name" type="xs:string" />
  </xs:complexType>
</xs:schema>