Endless Space Competitive Mod/Schemas/LocalizationPair.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Datatable"/>
  <xs:element name="LocalizationPair" nillable="false" type="LocalizationPair" />
  <xs:complexType name="LocalizationPair">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="Name" type="xs:string" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>
