Endless Space Competitive Mod/Schemas/PopulationLossResourceGainDefinition.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Datatable" />
  <xs:element name="PopulationLossResourceGainDefinition" nillable="true" type="PopulationLossResourceGainDefinition" />
  <xs:complexType name="PopulationLossResourceGainDefinition">
    <xs:complexContent mixed="false">
      <xs:extension base="DatatableElement">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Formula" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="FormulaTokens" type="ArrayOfAnyType" />
        </xs:sequence>
        <xs:attribute name="ResourceName" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfAnyType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DatatableElement">
    <xs:attribute name="Name" type="xs:string" />
  </xs:complexType>
</xs:schema>