Endless Space Competitive Mod/Schemas/SquadronMissionDefinition.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Datatable" />
  <xs:element name="SquadronMissionDefinition" nillable="true" type="SquadronMissionDefinition" />
  <xs:complexType name="SquadronMissionDefinition">
    <xs:complexContent mixed="false">
      <xs:extension base="DatatableElement">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="ActivationEventPrerequisite" type="EncounterEventPrerequisiteDefinition" />
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element minOccurs="0" maxOccurs="1" name="ActivationInterpreterPrerequisite" type="InterpreterPrerequisite" />
            <xs:element minOccurs="0" maxOccurs="1" name="ActivationPathPrerequisite" type="PathPrerequisite" />
          </xs:choice>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element minOccurs="0" maxOccurs="1" name="EndingInterpreterPrerequisite" type="InterpreterPrerequisite" />
            <xs:element minOccurs="0" maxOccurs="1" name="EndingPathPrerequisite" type="PathPrerequisite" />
          </xs:choice>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element minOccurs="0" maxOccurs="1" name="TargetSelectionMethod_EventContext" type="SquadronMissionTargetSelectionMethodDefinition_EventContext" />
            <xs:element minOccurs="0" maxOccurs="1" name="TargetSelectionMethod_Scan" type="SquadronMissionTargetSelectionMethodDefinition_Scan" />
          </xs:choice>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element minOccurs="0" maxOccurs="1" name="Task_Roaming" type="SquadronTaskDefinition_Roaming" />
            <xs:element minOccurs="0" maxOccurs="1" name="Task_TakePartInMatch" type="SquadronTaskDefinition_TakePartInMatch" />
            <xs:element minOccurs="0" maxOccurs="1" name="Task_ReachMatch" type="SquadronTaskDefinition_ReachMatch" />
            <xs:element minOccurs="0" maxOccurs="1" name="Task_EscortTarget" type="SquadronTaskDefinition_EscortTarget" />
            <xs:element minOccurs="0" maxOccurs="1" name="Task_ReachTarget" type="SquadronTaskDefinition_ReachTarget" />
          </xs:choice>
        </xs:sequence>
        <xs:attribute default="false" name="AvailableDuringNonBattlePhase" type="xs:boolean" />
        <xs:attribute default="Undefined" name="AssociatedMatchType" type="MatchType" />
        <xs:attribute default="false" name="ForbidInterruption" type="xs:boolean" />
        <xs:attribute default="false" name="IncludeSquadronInTargetMetaFormation" type="xs:boolean" />
        <xs:attribute default="Undefined" name="RoleInTargetMetaFormation" type="SquadronMetaFormationRole" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EncounterEventPrerequisiteDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="EventInitiatorFilter" type="EncounterEntityFilterDefinition" />
      <xs:element minOccurs="0" maxOccurs="1" name="EventTargetFilter" type="EncounterEntityFilterDefinition" />
    </xs:sequence>
    <xs:attribute name="EventType" type="EncounterEventType" use="required" />
  </xs:complexType>
  <xs:complexType name="EncounterEntityFilterDefinition">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element minOccurs="0" maxOccurs="1" name="InterpreterPrerequisite" type="InterpreterPrerequisite" />
        <xs:element minOccurs="0" maxOccurs="1" name="PathPrerequisite" type="PathPrerequisite" />
      </xs:choice>
    </xs:sequence>
    <xs:attribute default="Undefined" name="EntityType" type="EncounterEntityType" />
    <xs:attribute default="None" name="EntityTags" type="EncounterEntityTags" />
  </xs:complexType>
  <xs:complexType name="InterpreterPrerequisite">
    <xs:simpleContent>
      <xs:extension base="Prerequisite" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="Prerequisite">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute default="false" name="Inverted" type="xs:boolean" />
        <xs:attribute name="Flags" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="PathPrerequisite">
    <xs:simpleContent>
      <xs:extension base="Prerequisite" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="EncounterEntityType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Arena" />
      <xs:enumeration value="EffectArea" />
      <xs:enumeration value="Group" />
      <xs:enumeration value="Flotilla" />
      <xs:enumeration value="Ship" />
      <xs:enumeration value="ShipSection" />
      <xs:enumeration value="Module" />
      <xs:enumeration value="Salvo" />
      <xs:enumeration value="Citadel" />
      <xs:enumeration value="CitadelModule" />
      <xs:enumeration value="CitadelSalvo" />
      <xs:enumeration value="Undefined" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EncounterEntityTags">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="None" />
          <xs:enumeration value="Me" />
          <xs:enumeration value="Other" />
          <xs:enumeration value="SameShip" />
          <xs:enumeration value="OtherShip" />
          <xs:enumeration value="SameFlotilla" />
          <xs:enumeration value="OtherFlotilla" />
          <xs:enumeration value="SameGroup" />
          <xs:enumeration value="OtherGroup" />
          <xs:enumeration value="EffectInitiator" />
          <xs:enumeration value="EffectTarget" />
          <xs:enumeration value="Alive" />
          <xs:enumeration value="Deactivated" />
          <xs:enumeration value="Destroyed" />
          <xs:enumeration value="SameModule" />
          <xs:enumeration value="OtherModule" />
          <xs:enumeration value="Arena" />
          <xs:enumeration value="Reinforcement" />
          <xs:enumeration value="Inactive" />
          <xs:enumeration value="MyMainTarget" />
          <xs:enumeration value="SameCitadel" />
          <xs:enumeration value="OtherCitadel" />
          <xs:enumeration value="SameCitadelModule" />
          <xs:enumeration value="OtherCitadelModule" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:simpleType name="EncounterEventType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BattleStart" />
      <xs:enumeration value="BattleStart_GroupInteraction" />
      <xs:enumeration value="BattleEnd" />
      <xs:enumeration value="PhaseStart" />
      <xs:enumeration value="PhaseEnd" />
      <xs:enumeration value="FirstPhaseStart" />
      <xs:enumeration value="LastPhaseStart" />
      <xs:enumeration value="PostPhaseStart" />
      <xs:enumeration value="Spawned" />
      <xs:enumeration value="Attack_Preparation" />
      <xs:enumeration value="Attack_Start" />
      <xs:enumeration value="Attack_PrepareSalvoLaunched" />
      <xs:enumeration value="Attack_SalvoLaunched" />
      <xs:enumeration value="Attack_PostSalvoLaunched" />
      <xs:enumeration value="Attack_HitShield" />
      <xs:enumeration value="Attack_PrepareHitTarget" />
      <xs:enumeration value="Attack_HitTarget" />
      <xs:enumeration value="Attack_PostHitTarget" />
      <xs:enumeration value="Attack_Miss" />
      <xs:enumeration value="Attack_TargetLost" />
      <xs:enumeration value="Attack_End" />
      <xs:enumeration value="EnterArea" />
      <xs:enumeration value="ExitArea" />
      <xs:enumeration value="MedalGained" />
      <xs:enumeration value="ComputeEndBattleStatus" />
      <xs:enumeration value="Healing_Prepare" />
      <xs:enumeration value="Healing" />
      <xs:enumeration value="BattleFinalization" />
      <xs:enumeration value="Deactivation" />
      <xs:enumeration value="Destruction" />
      <xs:enumeration value="DestructionComplete" />
      <xs:enumeration value="Squadron_MatchCreated_Duel" />
      <xs:enumeration value="Squadron_MatchCreated_Chase" />
      <xs:enumeration value="Squadron_MatchCreated_Assault" />
      <xs:enumeration value="Squadron_MatchImminent_Duel" />
      <xs:enumeration value="Squadron_MatchImminent_Chase" />
      <xs:enumeration value="Squadron_MatchImminent_Assault" />
      <xs:enumeration value="Squadron_MatchAction_PrepareAttack" />
      <xs:enumeration value="Squadron_MatchAction_Attack" />
      <xs:enumeration value="Squadron_MatchAction_Hit" />
      <xs:enumeration value="Squadron_MatchAction_PostAttack" />
      <xs:enumeration value="CitadelAttack_SalvoLaunched" />
      <xs:enumeration value="CitadelAttack_HitShield" />
      <xs:enumeration value="CitadelAttack_PrepareHitTarget" />
      <xs:enumeration value="CitadelAttack_HitTarget" />
      <xs:enumeration value="CitadelAttack_PostHitTarget" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SquadronMissionTargetSelectionMethodDefinition_EventContext">
    <xs:complexContent mixed="false">
      <xs:extension base="SquadronMissionTargetSelectionMethodDefinition">
        <xs:attribute name="TargetRole" type="TargetRoleInEvent" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="TargetRoleInEvent">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EventInitiator" />
      <xs:enumeration value="EventTarget" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SquadronMissionTargetSelectionMethodDefinition">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element minOccurs="0" maxOccurs="1" name="InterpreterPrerequisite" type="InterpreterPrerequisite" />
        <xs:element minOccurs="0" maxOccurs="1" name="PathPrerequisite" type="PathPrerequisite" />
      </xs:choice>
    </xs:sequence>
    <xs:attribute default="-1" name="TargetingAggroDistance" type="xs:float" />
    <xs:attribute default="None" name="TargetTags" type="EncounterEntityTags" />
  </xs:complexType>
  <xs:complexType name="SquadronMissionTargetSelectionMethodDefinition_Scan">
    <xs:complexContent mixed="false">
      <xs:extension base="SquadronMissionTargetSelectionMethodDefinition">
        <xs:sequence>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element minOccurs="0" maxOccurs="1" name="TargetSortingCriterion_PropertyMultiplier" type="WeaponTargetSortingCriterionDefinition_PropertyMultiplier" />
            <xs:element minOccurs="0" maxOccurs="1" name="TargetSortingCriterion" type="WeaponTargetSortingCriterionDefinition" />
          </xs:choice>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WeaponTargetSortingCriterionDefinition_PropertyMultiplier">
    <xs:complexContent mixed="false">
      <xs:extension base="WeaponTargetSortingCriterionDefinition" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WeaponTargetSortingCriterionDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ScoreModifier" type="WeaponTargetingSortingCriterionScoreModifier" />
    </xs:sequence>
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute default="0" name="ScoreModifiersDefaultValue" type="xs:float" />
    <xs:attribute default="false" name="IgnoredWhenCheckingTargetValidity" type="xs:boolean" />
  </xs:complexType>
  <xs:complexType name="WeaponTargetingSortingCriterionScoreModifier">
    <xs:simpleContent>
      <xs:extension base="xs:float">
        <xs:attribute name="Name" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="SquadronTaskDefinition_Roaming">
    <xs:complexContent mixed="false">
      <xs:extension base="SquadronTaskDefinition" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SquadronTaskDefinition">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element minOccurs="0" maxOccurs="1" name="MotionDuration_SquadronSpeed" type="SquadronMotionDurationDefinition_SquadronSpeed" />
        <xs:element minOccurs="0" maxOccurs="1" name="MotionDuration_FixedDuration" type="SquadronMotionDurationDefinition_FixedDuration" />
        <xs:element minOccurs="0" maxOccurs="1" name="MotionDuration_Unlimited" type="SquadronMotionDurationDefinition_Unlimited" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SquadronMotionDurationDefinition_SquadronSpeed">
    <xs:complexContent mixed="false">
      <xs:extension base="SquadronMotionDurationDefinition">
        <xs:attribute default="1" name="SpeedFactor" type="xs:float" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SquadronMotionDurationDefinition" />
  <xs:complexType name="SquadronMotionDurationDefinition_FixedDuration">
    <xs:complexContent mixed="false">
      <xs:extension base="SquadronMotionDurationDefinition">
        <xs:attribute default="-1" name="Duration" type="xs:float" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SquadronMotionDurationDefinition_Unlimited">
    <xs:complexContent mixed="false">
      <xs:extension base="SquadronMotionDurationDefinition" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SquadronTaskDefinition_TakePartInMatch">
    <xs:complexContent mixed="false">
      <xs:extension base="SquadronTaskDefinition" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SquadronTaskDefinition_ReachMatch">
    <xs:complexContent mixed="false">
      <xs:extension base="SquadronTaskDefinition" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SquadronTaskDefinition_EscortTarget">
    <xs:complexContent mixed="false">
      <xs:extension base="SquadronTaskDefinition" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SquadronTaskDefinition_ReachTarget">
    <xs:complexContent mixed="false">
      <xs:extension base="SquadronTaskDefinition" />
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="MatchType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Undefined" />
      <xs:enumeration value="Chase" />
      <xs:enumeration value="Assault" />
      <xs:enumeration value="Duel" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SquadronMetaFormationRole">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Undefined" />
      <xs:enumeration value="Escort" />
      <xs:enumeration value="Chaser" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="DatatableElement">
    <xs:attribute name="Name" type="xs:string" />
  </xs:complexType>
</xs:schema>