Endless Space Competitive Mod/Schemas/SystemDefenseThresholdDefinition.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Datatable" />
  <xs:element name="SystemDefenseThreshold" nillable="true" type="SystemDefenseThreshold" />
  <xs:complexType name="SystemDefenseThreshold">
    <xs:complexContent mixed="false">
      <xs:extension base="DatatableElement">
        <xs:attribute name="ValueMin" type="xs:int" use="required" />
        <xs:attribute name="ValueMax" type="xs:int" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DatatableElement">
    <xs:attribute name="Name" type="xs:string" />
  </xs:complexType>
</xs:schema>